block content
    h1= title
    -let results =[{watch_brand: "Fossil" ,watch_type: "Analog" ,watch_cost: 100},{watch_brand:"Rolex",watch_type:"Analog",watch_cost:80},{watch_brand:"LIG",watch_type:"Smart",watch_cost:94}]
    div(class="container-fluid")
     div(class="column")
        each wat,index in results 
            div(class="col-sm-2" onclick=`buy(${index})`)  #{wat.watch_brand}  
            div(class="col-sm-2" onclick=`buy(${index})`)  #{wat.watch_type}
            div(class="col-sm-2" onclick=`buy(${index})`)  #{wat.watch_cost}
script.
    function buy(n)
    {
        alert(`You have purchased item ${n+1}`);
    }